listen 8080;

root {{ envString "WEBROOT" }};
index index.html index.htm;

disable_symlinks off;

location = /favicon.ico {
  log_not_found off;
  access_log off;
}

location = /robots.txt {
  log_not_found off;
  access_log off;

  allow all;
}

location ~ ^/(?:\.htaccess){
  deny all;
}
